.walkin-container{
    margin: 40px 60px;

    .appointment-info-container{
       
        h5{
           font-family: Inter;
            font-size: 26px;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 30px;
       } 

    }
}