<div class="appointment-details-container">
  <div><h5 class="header-title">Appointment Information</h5></div>
  <div class="personal-details-container">
    <div class="image-container">
      <img
        [src]="'../../../../assets/images/suraj.png'"
        alt="Appointment Image"
        class="appointment-image"
      />
    </div>
      <div >
        <div>
            <h4>Abu Bokor Suraj</h4>
        </div>
        <div class="personal-details">
            <div class="detail-item">
                <span class="detail-label">Mobile:</span>
                <span class="detail-value">123-456-7890</span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Designation:</span>
                <span class="detail-value">Designer</span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Company:</span>
                <span class="detail-value">XYZ Corp</span>
    
            </div>
        </div>
      </div>
    
    <div class="contact-details">
        <div></div>
      <div class="detail-item">
        <span class="detail-label">Address:</span>
        <span class="detail-value">123 Street, City, Country</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Mail:</span>
        <span class="detail-value">example@example.com</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">NID:</span>
        <span class="detail-value">1234567890</span>
      </div>
    </div>
  </div>
  <div class="appointment-info-box">
    <div>
        <div>
            <h6>Created on:</h6>
            <p>12</p>
        </div>
        <div>
            <h6>Visitor ID:</h6>
            <p>01</p>
        </div>
        <div>
            <h6>Department</h6>
            <p></p>
        </div>
    </div>
    
    <div>
        <div>
            <h6>Meeting Person:</h6>
            <p>SUraj</p>
        </div>
        <div>
            <h6>Arrival Date:</h6>
            <p>01</p>
        </div>
        <div>
            <h6>Arrival Time</h6>
            <p></p>
        </div>
    </div>
    
    <div>
        <div>
            <h6>Satus</h6>
            <p>Accepted</p>
        </div>
    </div>
  </div>

  <div class="pupose-box">
    <h6>Purpose:</h6>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur maxime officiis itaque delectus repudiandae sit, molestias neque mollitia distinctio dolorem aspernatur deserunt, aliquid velit! Dolore earum rem iure, similique facere ipsa ullam, praesentium quam eveniet blanditiis dolores quod cum autem, dolor esse commodi. Ducimus delectus possimus pariatur. Eligendi quaerat laborum quidem. Mollitia maxime aspernatur animi nihil quia modi dolore quae, adipisci explicabo, quidem commodi ab ipsa ratione. In asperiores hic earum quod, ea repellendus doloremque consequatur autem mollitia quibusdam odit placeat dolores aliquam deserunt libero debitis voluptates officiis numquam perferendis nam est eaque ex molestias! Deleniti nisi ut est repellendus.</p>
  </div>
</div>
